{% extends 'base_sidebar.html' %}

{% block title %}Stock Market Data - Trading Bot{% endblock %}

{% block content %}
<div class="container">
    <p>You can search for any symbol, but the algorithm only runs on AAPL, MSFT, GOOGL, AMZN, and TSLA.</p>
    <h1 class="mt-5">Stock Market Data</h1>
    <div class="input-group mb-3 mt-3">
        <input type="text" id="symbolInput" class="form-control" placeholder="Enter stock symbol" aria-label="Enter stock symbol">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
        </div>
    </div>
    <div style="overflow-x: auto; white-space: nowrap;">
        <canvas id="stockChart" width="1000" height="550" style="display: block; box-sizing: border-box; height: 550px; width: 1000px;"></canvas> 
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>
<script src="/static/bootstrap/js/stock_chart.js"></script>
{% endblock %}
